Repository elsahanan829/strapimysql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

chore: vscode settings configured for this project
  .vscode/settings.json
Due: prettier --write

docs: readme file improved, eslint parser updated and default values set in database config
  .eslintrc
  .gitignore
  README.md
  config/database.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

chore: remove type modules from package.json file
  package.json
Due: prettier --write

feat: new support for docker compose
  .env.example
  Dockerfile
  Dockerfile.dev
  README.md
  config/server.js
  docker-compose.yml
Due: eslint --cache --fix, prettier --write

feat: strapi-provider-upload-do support only for production
  README.md
  docker-compose.yml
  extensions/upload/config/env/production/settings.js
Due: eslint --cache --fix, prettier --write

ci: new workflow added for ci and cd jobs
  .github/workflows/cd.yml
  .github/workflows/main.yml
Due: none

ci: dependabot yaml file configuration added
  .github/dependabot.yml
Due: none

ci: setup build and test jobs
  .github/workflows/main.yml
  package.json
Due: prettier --write

ci: checkout repository step added in test job
  .github/workflows/main.yml
Due: none

ci: cache uploader added in main workflow
  .github/workflows/main.yml
Due: none

ci: release job added in main workflow
  .github/workflows/main.yml
Due: none

ci: set the correct enviroment variable for get github repository name
  .github/workflows/main.yml
Due: none

ci: added set badge version step for release job
  .github/workflows/main.yml
Due: none

ci: removing matrix strategy from analyze job
  .github/workflows/main.yml
Due: none

ci: new triggers for release and deploy jobs
  .github/workflows/main.yml
Due: none

fix: change the truty value in release conditional
  .github/workflows/main.yml
Due: none

fix: set the correct name for dependency of deploy job
  .github/workflows/main.yml
Due: none

ci: update release and deploy triggers
  .github/workflows/main.yml
Due: none

chore: bug_report template added for new issues opened
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

chore: issue template config file added
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: set the correct extension of bug_report file
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

chore: restoring bug_report.md file
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.{css,pcss,sss}
  prettier --write: any of: *.{js,json,css,md}
